<div class="bg-gray-900 text-white min-h-screen font-sans">
  <main class="pb-20 md:pb-0">
    <router-outlet></router-outlet>
  </main>
  @if (isAuthenticated()) {
    <app-nav></app-nav>
  }
  <app-player-detail-modal></app-player-detail-modal>
  
  <!-- Global Notification Toast -->
  @if (uiService.notification(); as notification) {
    <div 
      class="fixed top-5 right-5 z-[100] px-6 py-3 rounded-lg shadow-lg animate-fade-in-out"
      [class]="notification.type === 'success' ? 'bg-green-500' : 'bg-red-500'">
      {{ notification.message }}
    </div>
  }
</div>
